@import "grandfile.less";


h1, h2, h3, h4, h5, h6 { .m-speed; font-weight: 700;}

h1 {font-size: 57px; font-family: @fonttxt2; }
h2 {font-size: 55px; font-family: @fonttxt2; }
h3 {font-size: 28px;}
h4 {font-size: 20px;}
h6 {font-size: 13px;}

.wrap {float: left; width: 100%}
.index {top:100%;}
.inner{}
.content {position: relative; display: block; margin: 0 auto; width: 1170px;}


.button {float: left; display: inline-block; width: 290px; height: 88px; .bgCCC; background: url(../img/button.png);
 margin-top: -11px;  margin-left: 20px; color: #fff; font-family: @fonttxt2; font-weight: 700;  font-size: 28px;
padding: 20px 12px; text-align: center;} 

.button:hover {opacity: 0.9;}

header {position: fixed; width: 100%; height: 120px; z-index: 999999;
nav {background: @colfirm2; float: left; width: 100%; height: 55px; border-bottom: solid 2px #3199d2;
.content {text-align: center; height: 100%;
li {float: left; display: inline-table; height: 100%; margin: 0 48px;
a {.middle;  margin: 0 auto; color: #fff !important; 
font-size: 24px; font-family: @fonttxt2;}
}
li:first-child  {margin-left: 0px} li:last-child  {margin-right: 0px}}   
    
}
    
.sub-nav {float: left; width: 100%; height: 66px;  
.content{height: 100%;  border: solid 2px #3199d2; background: #fff; border-top: solid 0px;}    
li {float: left; display: inline-table; height: 100%; margin: 0 60px;
a {.middle;  margin: 0 auto; color: @colfirm2; font-size: 15px; text-decoration: underline; font-family: @fonttxt;}
}    
}
}

.head {float: left; width: 100%; margin-top: 130px; height: 95px;
    .content{height: 100%; background: #fff; }
.logo{float: left;  height: 100%; display: inline-table; 
img{.middle; }
}
.linked {float: right; display: inline-table; height: 100%; margin-right: 50px;
a { .middle; color: @coltxt; font-size: 24px; font-family: @fonttxt2; span {font-size: 40px;}
i.map {display: inline-block; margin-right: 15px; .bgCCC; width: 22px; height: 34px;     margin-bottom: -2px;
background: url(../img/map.png);
background: url(../img/map.svg),none;    }     
} 
    
i.tel {display: inline-block; margin-right: 15px; .bgCCC; width: 22px; height: 34px;     margin-bottom: -2px;
background: url(../img/tel.png);
background: url(../img/tel.svg),none;    }     
} 
      
}

.sl{ float: left; width: 100%;height: 665px; .bgCC; background: url(../img/bgon.jpg);

.content { height: 100%; padding: 45px;
h1{color: #fff; text-align: center;}


}
}


.f-sak { float: left; width: 100%;height: 165px; background: @colfirm;
.content{padding: 25px;}
span{float: left; display: block; width: 100%; text-align: center; font-size: 19px; color:#FFF;}
.p-m {position: relative;float: left; width: 100%; padding: 35px 0;
.inp1 {position: relative; display: inline-block; float: left;  background: #fff;  border-radius: 5px;  width: 370px; margin: 0 23px;}
input {position: relative; font-weight: 600;float: left; 
padding: 16px 41px;
 color: @coltxt;     background: transparent;}
.inp1:before {
content: ''; 
position: absolute; display: block; left:14px; top:19px;   width: 13px; height: 17px; 
.bgCCC; background: url(../img/man.svg);   
background: url(../img/man.svg);}
    .inp2:before {background: url(../img/mob.svg); .bgCCC; top:17px;}
    .inp2{}
.inp1:first-child { margin-left: 0px;}
.button {float: left; display: inline-block; width: 290px; height: 88px; .bgCCC; background: url(../img/button.png);
 margin-top: -11px;  margin-left: 20px; color: #fff; font-family: @fonttxt2; font-weight: 700;  font-size: 28px;
padding: 20px 12px; text-align: center;} 

}


}
.pr {float: left; width: 100%;height: 930px; .bgCC; background: url(../img/bgt.jpg);
    .content {height: 100%;  padding: 70px 0;}
    h2{font-size: 55px; color: @colfirm; text-align: center;} 
    
.pr-bl {float: left; width: 100%; margin-top: 40px;
 .one {position: relative; float: left; width: 33.3333%; display: inline-block; margin: 15px 0; .bgCCC; background: url(../img/bgpr.png); height: 333px;
.icon {position: relative; margin: 0 auto;
  width: 84px; height: 132px; display: block;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(242, 95, 95);
  background-color: rgb(255, 255, 255); 
  font-size: 80px;
  color: rgb(242, 95, 95);
    text-align: center;
    font-family: @fonttxt2;
    padding-top: 38px; 
    margin-top: -5px;
     
}
    
p {position: relative; display: block; margin: 0 auto; width: 244px; text-align: center; color: #fff; font-size: 16px;
padding-top: 14px;
    
strong{font-size: 18px; text-transform: uppercase;}}
    
}
 
    .but-bl {position: absolute; display: block; width: 100%; left: 0px; bottom: -50px; text-align: center;
        .button {float: none; position: relative; margin: 0 auto;}
    }    
    
    }
}
.info {height: 675px; float: left; width: 100%; background: #fff;
    .content{margin-top: 75px; text-align: center;}
h2 { display: inline-block; .bgCCC; width: 415px; height: 93px; background: url(../img/h2.png); color: #fff;
    padding: 15px ; margin-top: 30px;}

}


